.pwa-header{ 
  background: black;
  color: white;
  padding: 10px;
}
.mdl-layout__container{
    background: linear-gradient(to bottom, #000000, #434343);  
}
.mdl-layout__header-row{
  background-color: black;
}
.mdl-layout__drawer-button{
  background-color: black !important;
}

.result-list__card .mdl-card__title{
  height: 100%;
  padding: 0;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}
.result-list__card .mdl-card__title .mdl-card__title-text{
  color: white;
  position: absolute;
  bottom: 10px;
  padding-left: 10px;
  font-size: 20px;
}

.mdl-card__title-container{
  position: absolute;
  bottom: 0;
  background: linear-gradient(to top, rgb(0, 0, 0), rgba(0, 0, 0, 0));
  width: 100%;
  height: 66px;
  padding-top: 5px;
  
}

.pwa-header__logo{
  height: 40px;
  display: inline-block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 10px;
}

.result-list{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.result-list__card{
  flex: 1;
  flex-basis: 30%;
  margin: 10px;
  flex-grow: inherit;
}

.mdl-snackbar__text{
  margin: 0 auto;
}


@media screen and (max-width: 700px) {
  .result-list__card{
    flex-basis: 100%;
  }
}
.result-list__card-label{
  text-transform: uppercase;
  font-weight: bold;
}

/* O container geral define a perspectiva */  
.flip-container { perspective: 1000; }  	

/* vira os containers frente e verso quando o mouse passa em cima */
.flip-container.--opened .flipper {  		
  transform: rotateY(180deg);  	
}    

.--opened .front{
  opacity: 0;
}

.--opened .back{
  opacity: 1;
}

.--opened .mdl-shadow--2dp{
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 1), 0 4px 8px -2px rgba(0, 0, 0, 1), 0 16px 32px 0 rgba(0, 0, 0, 1);
}

/* define a velocidade da transição */
.flipper {  	
  transition: 0.6s;  	
  transform-style: preserve-3d;    	
  position: relative;  
}
    
/* esconde o verso durante a animação */
.front, .back {  	
  transition: all 200ms ease;
  position: absolute;  	
  width: 100%;
  height: 100%;
  background-color: white;
  top: 0;  	
  left: 0;  
}

/* frente posicionada sobre o verso */
.front { z-index: 2;  }    

/* verso inicialmente escondido */
.back { transform: rotateY(180deg); }