.pwa-header{ 
  background: #FE9F02;
  color: white;
  padding: 10px;
}
.mdl-layout__header-row{
  background-color: #FE9F02;
}
.mdl-layout__drawer-button{
  background-color: #FE9F02 !important;
}
.pwa-header__logo{
  height: 40px;
  display: inline-block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 10px;
}

.result-list{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.result-list__card{
  flex: 1;
  flex-basis: 30%;
  margin: 10px;
  flex-grow: inherit;
}


@media screen and (max-width: 700px) {
  .result-list__card{
    flex-basis: 100%;
  }
}
.result-list__card-label{
  text-transform: uppercase;
  font-weight: bold;
}